@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F5F5F5;
}

input,
textarea,
select {
  color: #111827;
  background-color: #ffffff;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
